<div class="row">
  <div class="col-sm-12 col-md-6 offset-md-3">
    <div class="card bg-success text-white">
      <div class="card-header">Pagamento confirmado</div>
      <div class="card-body">
        <p class="card-text">Entraremos em contato para agendar o serviço.</p>
      </div>
    </div>
  </div>
</div>
