<div class="row">
  <div class="col-sm-12 col-md-6 offset-md-3">
    <div class="card bg-danger text-white">
      <div class="card-header">Este orçamento foi recusado</div>
      <div class="card-body">
        <% if @budget.has_reject_text? %>
          <p class="card-text">Iremos analisar sua resposta e entraremos em contato caso seja apropriado.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
