<section class="">
  <div class="bg-image-holder bredcrumb bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>Admin</h2>
          <hr class="hr_narrow  hr_color">
        </div>
      </div>
    </div>
  </div>
</section>

<div class="grid-wrapper section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12 element-content">
        <div id="tables" class="element_single">
          <div class="display-single_element">
            <h3 style="margin: 30px 0">Gerar Orçamento para <%= @budget.token %></h3>

            <form action="<%= url("/admin/#{@budget.token}") %>" method="POST">
              <input type="hidden" name="_method" value="PATCH">

              <input type="hidden" name="status" value="Aguardando Aprovação">

              <div class="form-group row">
                <label for="budget-text" class="col-md-12 col-form-label">Texto do Orçamento</label>
                <div class="col-md-10">
                  <textarea class="form-control" name="budget-text" cols="30" rows="10" placeholder="Cole o texto aqui..."></textarea>
                </div>
              </div>

              <button type="submit" class="btn btn-default btn-primary">Gerar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

