<section class="bredcrumb">
  <div class="bg-image text-center" style="background-image: url('<%= @image %>');">
    <h1><%= @title %></h1>
  </div>
</section>

<div class="text-center d-md-none" style="padding: 10px">
  <a href="#solicitar-orcamento" class="btn btn-success">Solicitar Orçamento</a>
</div>

<section class="service_single-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="service_single-details">
          <%= erb :'servicos/partials/form', locals: {service_name: @title} %>
          <%#= yield %>
        </div>
      </div>
    </div>
  </div>
</section>
