<section class="bredcrumb">
  <div class="bg-image text-center" style="background-image: url('/img/bg-bredcrumb.jpg');">
    <h1><%= @title %></h1>
  </div>
</section>

<div class="text-center d-md-none" style="padding: 10px">
  <a href="#solicitar-orcamento" class="btn btn-success">Solicitar Orçamento</a>
</div>

<section class="service_single-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="service_single-details">
          <%= yield %>
        </div>
      </div>

      <div class="col-lg-4 sidebar">
        <%= erb :'servicos/partials/form' %>
      </div>
    </div>
  </div>
</section>
