<section class="bredcrumb">
  <div class="bg-image text-center" style="background-image: url('/img/bg-bredcrumb.jpg');">
    <h1>Pintor</h1>
  </div>
</section>

<section class="service_single-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="service_single-details">
          <img src="/img/home/services/services.jpg" alt="serviceimg" class="img-full">
          <div class="service_details-desc">
            <h2>Praesent nec nisl iaculis</h2>
            <p>Sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beataevitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptassit aspernatur aut odit aut fugit sed quia consequuntur </p>
            <p>Magni dolores eos qui ratione voluptatem sequi nesciunt neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore etdolore magnam aliquam quaerat voluptatem labore.</p>
            <ul class="styled_list">
              <li class=""><a href="#"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Morbi fermentum felis nec</a></li>
              <li class=""><a href="#"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Morbi fermentum felis nec</a></li>
              <li class=""><a href="#"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Morbi fermentum felis nec gravida tempus.</a></li>
              <li class=""><a href="#"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Morbi fermentum felis nec gravida tempus.</a></li>
              <li class=""><a href="#"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Morbi fermentum felis nec gravida</a></li>
              <li class=""><a href="#"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Morbi fermentum felis nec gravida</a></li>
            </ul>
            <div class="row">
              <div class="col-lg-6">
                <h4>Nec nisl iaculis pulv</h4>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa</p>
                <p>Quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              </div>
              <div class="col-lg-6">
                <h4>Aesent nec nisl</h4>
                <p>Cepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
                <p>Doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-form bg-navy" id="quote">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Get a Quote </h2>
        <form class="row pb30">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="exampleInputName" aria-describedby="userName" placeholder="Your Name">
          </div>
          <div class="form-group col-md-6">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="exampleInputPhone" aria-describedby="userPhone" placeholder="Phone">
          </div>
          <div class="form-group col-md-6 selectOptions">
            <select name="topic" class="form-control select-drop">
              <option>Select a Topic</option>
              <option>Topic 1</option>
              <option>Topic 2</option>
              <option>Topic 3</option>
            </select>
          </div>
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-default bg-navy">Send Request</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
