<img src="/img/servicos/seguranca.jpg" alt="serviceimg" class="img-full">
<div class="service_details-desc">
  <h2>Praesent nec nisl iaculis</h2>
  <p>Sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beataevitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptassit aspernatur aut odit aut fugit sed quia consequuntur </p>
  <p>Magni dolores eos qui ratione voluptatem sequi nesciunt neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore etdolore magnam aliquam quaerat voluptatem labore.</p>
  <ul class="styled_list">
    <li class=""><a href="#"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Morbi fermentum felis nec</a></li>
    <li class=""><a href="#"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Morbi fermentum felis nec</a></li>
    <li class=""><a href="#"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Morbi fermentum felis nec gravida tempus.</a></li>
    <li class=""><a href="#"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Morbi fermentum felis nec gravida tempus.</a></li>
    <li class=""><a href="#"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Morbi fermentum felis nec gravida</a></li>
    <li class=""><a href="#"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Morbi fermentum felis nec gravida</a></li>
  </ul>
  <div class="row">
    <div class="col-lg-6">
      <h4>Nec nisl iaculis pulv</h4>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa</p>
      <p>Quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
    <div class="col-lg-6">
      <h4>Aesent nec nisl</h4>
      <p>Cepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
      <p>Doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>
