<section class="banner">
  <div id="banner-slider" class="element_row">
    <!-- slider one -->
    <div class="item ">
      <div class="bg-image-holder" style="background-image: url('img/home/slider/sl1.jpg');">
        <div class="slider-caption container">
          <div class="caption-content">
            <h1 class="bold text-white" data-animation="customFadeInUp" data-delay="0.1s">Perfect Template <br> to represent your business</h1>
            <p class="text-white" data-animation="customFadeInUp" data-delay="0.4s">Get it now and give a future to your business</p>
            <a class="video-link" data-fancybox href="https://www.youtube.com/watch?v=sEl5hp8MEGs"><i class="fa fa-play play-icon" data-animation="customFadeInUp" data-delay="0.4s" aria-hidden="true"></i> <span data-animation="customFadeInUp" data-delay="0.4s">Click to see Video</span></a>
          </div>
        </div>
      </div>
    </div>
    <!-- slider two -->
    <div class="item">
      <div class="bg-image-holder" style="background-image: url('img/home/slider/sl3.jpg');">
        <div class="slider-caption container">
          <div class="caption-content ">
            <h1 class="bold" data-animation="customFadeInUp" data-delay="0.1s">Perfect Template <br> to represent your business</h1>
            <p class="" data-animation="customFadeInUp" data-delay="0.4s">Get it now and give a future to your business</p>
            <a target="_blank" href="index.html#" class="btn btn-primary btn-default" data-animation="customFadeInUp" data-delay="0.4s">Get it now</a>
          </div>
        </div>
      </div>
    </div>
    <!-- slider three -->
    <div class="item">
      <div class="bg-image-holder" style="background-image: url('img/home/slider/sl3a.jpg');">
        <div class="slider-caption container">
          <div class="caption-content caption-right">
            <h1 class="bold" data-animation="customFadeInUp" data-delay="0.1s">Perfect Template <br> to represent your business</h1>
            <p class="" data-animation="customFadeInUp" data-delay="0.4s">Get it now and give a future to your business</p>
            <a target="_blank" href="index.html#" class="btn btn-primary btn-default"  data-animation="customFadeInUp" data-delay="0.4s">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
