<section class="banner">
  <div id="banner-slider" class="element_row">
    <div class="item ">
      <div class="bg-image-holder" style="background-image: url('img/mosaico.jpg');">
        <div class="slider-caption container">
          <div class="caption-content">
            <h1 class="bold text-white" data-animation="customFadeInUp" data-delay="0.1s">Precisando realizar<br>algum serviço?</h1>
            <p class="text-white" data-animation="customFadeInUp" data-delay="0.4s">Pedreiro, eletricista, pintor,<br> bombeiro-hidráulico, segurança ...</p>
            <a href="<%= url('/servicos') %>" class="btn btn-primary btn-default"  data-animation="customFadeInUp" data-delay="0.4s">Orçamento</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
