<section class="banner">
  <div id="banner-slider" class="element_row">
    <div class="item ">
      <div class="bg-image-holder" style="background-image: url('img/home/slider/sl1.jpg');">
        <div class="slider-caption container">
          <div class="caption-content">
            <h1 class="bold text-white" data-animation="customFadeInUp" data-delay="0.1s">Precisando de reforma? <br> Contrate nossos serviços</h1>
            <p class="text-white" data-animation="customFadeInUp" data-delay="0.4s">A forma mais prática de resolver seu problema</p>
            <a href="<%= url('/servicos') %>" class="btn btn-primary btn-default"  data-animation="customFadeInUp" data-delay="0.4s">Contratar</a>
          </div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="bg-image-holder" style="background-image: url('img/home/slider/sl3.jpg');">
        <div class="slider-caption container">
          <div class="caption-content ">
            <h1 class="bold" data-animation="customFadeInUp" data-delay="0.1s">Precisando de reforma? <br> Contrate nossos serviços</h1>
            <p class="" data-animation="customFadeInUp" data-delay="0.4s">A forma mais prática de resolver seu problema</p>
            <a href="<%= url('/servicos') %>" class="btn btn-primary btn-default" data-animation="customFadeInUp" data-delay="0.4s">Saiba mais</a>
          </div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="bg-image-holder" style="background-image: url('img/home/slider/sl3a.jpg');">
        <div class="slider-caption container">
          <div class="caption-content caption-right">
            <h1 class="bold" data-animation="customFadeInUp" data-delay="0.1s">Precisando de reforma? <br> Contrate nossos serviços</h1>
            <p class="" data-animation="customFadeInUp" data-delay="0.4s">A forma mais prática de resolver seu problema</p>
            <a href="<%= url('/servicos') %>" class="btn btn-primary btn-default"  data-animation="customFadeInUp" data-delay="0.4s">Clique aqui</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
