<section class="home-blog">
  <div class="container">
    <!-- section title -->
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <div class="sectionTitle text-center">
          <h2>Latest From Blog</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm temp</p>
        </div>
      </div>
    </div>
    <!-- section title ends -->
    <div class="row">
      <div class="col-md-4">
        <div class="card card-style3">
          <div class="card_img">
            <a href="blog-singlepost-left-sidebar.html"><img class="img-full" data-original="img/blog/blog1.jpg" alt="Card image"></a>
            <div class="date-holder bg-primary">
              <span>25</span>
              Feb
            </div>
          </div>
          <div class="card-block">
            <ul class="list-inline">
              <li>
                <a href="index.html#"><i class="fa fa-user-o" aria-hidden="true"></i> <span class="text-primary">Admin</span></a>
              </li>
              <li>
                <a href="index.html#"><i class="fa fa-heart-o" aria-hidden="true"></i> 350</a>
              </li>
              <li>
                <a href="index.html#"><i class="fa fa-comments-o" aria-hidden="true"></i> 30</a>
              </li>
            </ul>
            <a href="blog-singlepost-left-sidebar.html"><h4 class="card-title">Finibus Bonorum Malor.</h4></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-style3">
          <div class="card_img">
            <a href="blog-singlepost-left-sidebar.html"><img class="img-full" data-original="img/blog/blog2.jpg" alt="Card image"></a>
            <div class="date-holder bg-primary">
              <span>25</span>
              Feb
            </div>
          </div>
          <div class="card-block">
            <ul class="list-inline">
              <li>
                <a href="index.html#"><i class="fa fa-user-o" aria-hidden="true"></i> <span class="text-primary">Admin</span></a>
              </li>
              <li>
                <a href="index.html#"><i class="fa fa-heart-o" aria-hidden="true"></i> 350</a>
              </li>
              <li>
                <a href="index.html#"><i class="fa fa-comments-o" aria-hidden="true"></i> 30</a>
              </li>
            </ul>
            <a href="blog-singlepost-left-sidebar.html"><h4 class="card-title">Finibus Bonorum Malor.</h4></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-style3">
          <div class="card_img">
            <a href="blog-singlepost-left-sidebar.html"><img class="img-full" data-original="img/blog/blog3.jpg" alt="Card image"></a>
            <div class="date-holder bg-primary">
              <span>25</span>
              Feb
            </div>
          </div>
          <div class="card-block">
            <ul class="list-inline">
              <li>
                <a href="index.html#"><i class="fa fa-user-o" aria-hidden="true"></i> <span class="text-primary">Admin</span></a>
              </li>
              <li>
                <a href="index.html#"><i class="fa fa-heart-o" aria-hidden="true"></i> 350</a>
              </li>
              <li>
                <a href="index.html#"><i class="fa fa-comments-o" aria-hidden="true"></i> 30</a>
              </li>
            </ul>
            <a href="blog-singlepost-left-sidebar.html"><h4 class="card-title">Finibus Bonorum Malor.</h4></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
