<div class="brand_carousel bg-navy">
  <div class="container">
    <div class="slick_brands">
      <div class="brand_single">
        <div class="brand_img">
          <img src="img/home/about/b1.png" alt="brands">
        </div>
      </div>
      <div class="brand_single">
        <div class="brand_img">
          <img src="img/home/about/b2.png" alt="brands">
        </div>
      </div>
      <div class="brand_single">
        <div class="brand_img">
          <img src="img/home/about/b3.png" alt="brands">
        </div>
      </div>
      <div class="brand_single">
        <div class="brand_img">
          <img src="img/home/about/b4.png" alt="brands">
        </div>
      </div>
      <div class="brand_single">
        <div class="brand_img">
          <img src="img/home/about/b1.png" alt="brands">
        </div>
      </div>
    </div>
  </div>
</div>
