<section class="countup-section bg-image" style="background-image: url('img/home/bg-counter1.jpg'); background-attachment: fixed;">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-6">
        <div class="text-center single_block">
          <div class="counter">25</div><span class="count">+</span>
          <h5>Business Experts</h5>
        </div>
      </div>
      <div class="col-sm-3 col-6">
        <div class="text-center single_block">

          <div class="counter">80</div><span class="count">+</span>
          <h5>Completed Projects</h5>
        </div>
      </div>
      <div class="col-sm-3 col-6">
        <div class="text-center single_block">

          <div class="counter">1250</div><span class="count">+</span>
          <h5>happy clients</h5>
        </div>
      </div>
      <div class="col-sm-3 col-6">
        <div class="text-center single_block">

          <div class="counter">150</div><span class="count">+</span>
          <h5>hours support</h5>
        </div>
      </div>
    </div>
  </div>
</section>
