<section class="home-feature bg-navy d-none d-sm-block">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-4">
        <div class="card feature_single">
          <div class="icon">
            <i class="ti-list-1"></i>
          </div>
          <h4>Várias Opções</h4>
          <p>Nós temos o profissional certo para você</p>
        </div>
      </div>
      <div class="col-md-4 bg-gradient-navy-no">
        <div class="card feature_single">
          <div class="icon">
            <i class="ti-money"></i>
          </div>
          <h4>Pagamento Facilitado</h4>
          <p>Pague sem sair de casa, através de transferência bancária</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card feature_single">
          <div class="icon">
            <i class="ti-medal"></i>
          </div>
          <h4>Qualidade Garantida</h4>
          <p>Só trabalhamos com os melhores profissionais do mercado. Você não vai se arrepender!</p>
        </div>
      </div>
    </div>
  </div>
</section>
