<section class="home-feature bg-navy">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-4">
        <div class="card feature_single">
          <div class="icon">
            <i class="ti-bar-chart"></i>
          </div>
          <h4>Sales Effectiveness System</h4>
          <p>There are many variations of passa lorem Ipsum available but the ma</p>
        </div>
      </div>
      <div class="col-md-4 bg-gradient-navy">
        <div class="card feature_single">
          <div class="icon">
            <i class="ti-business-card"></i>
          </div>
          <h4>Focus on Customized Sales</h4>
          <p>There are many variations of passa lorem Ipsum available but the ma</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card feature_single">
          <div class="icon">
            <i class="ti-pie-chart2"></i>
          </div>
          <h4>Continuous Learn Approach</h4>
          <p>There are many variations of passa lorem Ipsum available but the ma</p>
        </div>
      </div>
    </div>
  </div>
</section>
