<footer class="footer footer-classic bg-navy">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-text">
          <a href="#">
            <img src="" />
          </a>
          <p>
            Contrate nossos serviços.
          </p>
          <div class="social-icons">
            <a href="index.html#" class="btn btn-social btn-social-o twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="index.html#" class="btn btn-social btn-social-o linkedin">
              <i class="fa fa-linkedin"></i>
            </a>
            <a href="index.html#" class="btn btn-social btn-social-o facebook">
              <i class="fa fa-facebook-f"></i>
            </a>
            <a href="index.html#" class="btn btn-social btn-social-o skype">
              <i class="fa fa-skype"></i>
            </a>
            <a href="index.html#" class="btn btn-social btn-social-o pinterest">
              <i class="fa fa-pinterest-p"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="location">
          <h3>Contato</h3>
          <ul>
            <li>Entre em contato</li>
            <li><i class="fa fa-phone"></i> <a href="tel:<%= @isaveu_phone %>"><%= @isaveu_phone %></a></li>
            <li><i class="fa fa-envelope"></i> <a href="mail:<%= @isaveu_email %>"><%= @isaveu_email %></a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <div class="links">
          <ul class="">
            <li><a href="index.html">Início</a></li>
            <li><a href="page-aboutus.html">Serviços</a></li>
            <li><a href="http://themes.iamabdus.com/biznex/1.2/service.html">Contato</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="copyright">
      <hr>
      <div class="row justify-content-center">
        <div class="col-sm-6">
          <div class="copyRight_text text-center">
            <p> &copy; 2018 iSaveU</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
