<section class="home-form bg-navy" id="quote">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <h2>Get a Quote </h2>
        <form class="row">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="exampleInputName" aria-describedby="userName" placeholder="Your Name">
          </div>
          <div class="form-group col-md-6">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="exampleInputPhone" aria-describedby="userPhone" placeholder="Phone">
          </div>
          <div class="form-group col-md-6 selectOptions">
            <select name="topic" class="form-control select-drop">
              <option>Select a topic</option>
              <option>Topic 1</option>
              <option>Topic 2</option>
              <option>Topic 3</option>
            </select>
          </div>
          <div class="col-md-6">
            <button type="submit" class="btn btn-default btn-primary">Send Request</button>
          </div>
        </form>
      </div>
      <div class="col-lg-4">
        <div class="promo-img">
          <img data-original="img/home/bg-form.png" alt="promo">
        </div>
      </div>
    </div>
  </div>
</section>
