<header id="pageTop" class="header">
  <nav class="navbar navbar-expand-md main-nav bg-dark-navy">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right">
        <span class="burger-menu icon-toggle"><i class="fa fa-bars"></i></span>
      </button>

      <a class="navbar-brand" href="index.html">
         <img src="img/logo.png" alt="Logo">
      </a>

      <div class="navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <%= MenuHelper::menu([
              {label: 'Início', url: url('')},
              {label: 'Serviços', url: url('/servicos')},
              {label: 'Contato', url: url('/contato')},
          ], request.url) %>
        </ul>
      </div>
    </div>
  </nav>
</header>
