<section class="services-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="sectionTitle text-center">
          <h2>Como Funciona</h2>
          <p>Entenda como nosso processo funciona</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="media-box">
          <div class="media-icon">
            <i class="fa fa-list-ul"></i>
          </div>
          <div class="media-content">
            <a href="javascript:void(0);"><h4>Selecione o tipo de serviço</h4></a>
            <p>Procure na nossa lista o serviço que você está precisando</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="media-box">
          <div class="media-icon">
            <i class="fa fa-calendar"></i>
          </div>
          <div class="media-content">
            <a href="javascript:void(0);"><h4>Agende uma visita</h4></a>
            <p>Um profissional irá na sua casa fazer o orçamento para o serviço. Sem nenhum compromisso!</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="media-box">
          <div class="media-icon">
            <i class="fa fa-wrench"></i>
          </div>
          <div class="media-content">
            <a href="javascript:void(0);"><h4>Mãos a obra!</h4></a>
            <p>Selecionaremos o melhor profissional para a sua situação, e ele irá na sua casa na data agendada</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="media-box">
          <div class="media-icon">
            <i class="fa fa-money"></i>
          </div>
          <div class="media-content">
            <a href="javascript:void(0);"><h4>Faça o pagamento</h4></a>
            <p>Você pode fazer o pagamento através de transferência bancária</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
