<section class="services-area">
  <div class="container">
    <!-- section title -->
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="sectionTitle text-center">
          <h2>Our Services</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm temp</p>
        </div>
      </div>
    </div>
    <!-- section title ends -->
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="media-box">
          <div class="media-icon">
            <i class="fa fa-line-chart"></i>
          </div>
          <div class="media-content">
            <a href="service-details-left-sidebar.html"><h4>Consultative Training</h4></a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmotempor incididunt ut labore</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="media-box">
          <div class="media-icon">
            <i class="fa fa-credit-card"></i>
          </div>
          <div class="media-content">
            <a href="service-details-right-sidebar.html"><h4>High Performance Selling</h4></a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmotempor incididunt ut labore</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="media-box">
          <div class="media-icon">
            <i class="fa fa-bar-chart-o"></i>
          </div>
          <div class="media-content">
            <a href="service-details-fullwidth.html"><h4>Sales Coaching Training</h4></a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmotempor incididunt ut labore</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="media-box">
          <div class="media-icon">
            <i class="fa fa-tripadvisor"></i>
          </div>
          <div class="media-content">
            <a href="service-details-left-sidebar.html"><h4>Advisor Program</h4></a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmotempor incididunt ut labore</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="media-box">
          <div class="media-icon">
            <i class="fa fa-address-card-o"></i>
          </div>
          <div class="media-content">
            <a href="service-details-right-sidebar.html"><h4>Selling With Insights</h4></a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmotempor incididunt ut labore</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="media-box">
          <div class="media-icon">
            <i class="ti-ebook"></i>
          </div>
          <div class="media-content">
            <a href="service-details-fullwidth.html"><h4>Consultative Training</h4></a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmotempor incididunt ut labore</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
