<section class="home-team">
  <div class="container">
    <!-- section title -->
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="sectionTitle text-center">
          <h2>Our Professionals</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm temp</p>
        </div>
      </div>
    </div>
    <!-- section title ends -->
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="card card-style2 team-card">
          <div class="card_img">
            <img class="img-full" data-original="img/home/about/team1.jpg" alt="Card image">
            <div class="hover-overlay effect-scale">
              <a href="index.html" class="overlay_icon"><i class="fa fa-facebook-f"></i></a>
              <a href="index.html" class="overlay_icon"><i class="fa fa-twitter"></i></a>
              <a href="index.html" class="overlay_icon"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="card-block">
            <a href="page-member-details.html"><h4 class="card-title">Julia Robertson</h4></a>
            <span class="">Co-Founder</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="card card-style2 team-card">
          <div class="card_img">
            <img class="card-img-top img-full" src="img/home/about/team2.jpg" alt="Card image">
            <div class="hover-overlay effect-scale">
              <a href="index.html" class="overlay_icon"><i class="fa fa-facebook-f"></i></a>
              <a href="index.html" class="overlay_icon"><i class="fa fa-twitter"></i></a>
              <a href="index.html" class="overlay_icon"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="card-block">
            <a href="page-member-details.html"><h4 class="card-title">Charles Nicholes</h4></a>
            <span class="">Co-Founder</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="card card-style2 team-card">
          <div class="card_img">
            <img class="img-full" data-original="img/home/about/team3.jpg" alt="Card image">
            <div class="hover-overlay effect-scale">
              <a href="index.html" class="overlay_icon"><i class="fa fa-facebook-f"></i></a>
              <a href="index.html" class="overlay_icon"><i class="fa fa-twitter"></i></a>
              <a href="index.html" class="overlay_icon"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="card-block">
            <a href="page-member-details.html"><h4 class="card-title">Julia Robertson</h4></a>
            <span class="">Co-Founder</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="card card-style2 team-card">
          <div class="card_img">
            <img class="img-full" data-original="img/home/about/team4.jpg" alt="Card image">
            <div class="hover-overlay effect-scale">
              <a href="index.html" class="overlay_icon"><i class="fa fa-facebook-f"></i></a>
              <a href="index.html" class="overlay_icon"><i class="fa fa-twitter"></i></a>
              <a href="index.html" class="overlay_icon"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="card-block">
            <a href="page-member-details.html"><h4 class="card-title">Julia Robertson</h4></a>
            <span class="">Co-Founder</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
