<section class="portfolio-area">
  <div class="container">
    <!-- section title -->
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="sectionTitle text-center">
          <h2>Nossos Serviços</h2>
          <p>Veja aqui a lista de serviços que nós oferecemos</p>
        </div>
      </div>
    </div>
    <!-- section title ends -->
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card_img">
            <a href="project-style-1.html">
              <img class="img-full" data-original="img/home/gallery/g1.jpg" />
              <div class="hover-overlay effect-scale">
                <div class="img_overlay-container">
                  <h4 class="img_overlay-title">Pedreiro</h4>
                  <p class="img_overlay-desc">Precisando de reforma? Nós temos a solução!</p>
                  <a target="_blank" href="index.html#" class="btn btn-primary btn-x">Contratar</a>
                </div>
              </div>
            </a>
          </div>
          <div id="qw-form-1" class="hidden">
            <div class="bg-image" style="background-image: url('img/projetcs/bg-projects.jpg');">
              <div class="project_specification">
                <h2 class="text-primary">Project Details</h2>
                <div class="row">
                  <div class="col-4 ">Clients:</div>
                  <div class="col-8 ">Jake Hemswire</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Category:</div>
                  <div class="col-8 ">Investment,Consulting</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Date:</div>
                  <div class="col-8 ">20 June, 2017</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Status:</div>
                  <div class="col-8 ">In Progress</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Website: </div>
                  <div class="col-8  text-primary">www.info@example.com</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card_img">
            <a href="project-style-2.html">
              <img class="img-full" data-original="img/home/gallery/g2.jpg" />
              <div class="hover-overlay effect-scale">
                <div class="img_overlay-container">
                  <h4 class="img_overlay-title">Sales Organization</h4>
                  <p class="img_overlay-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod </p>
                  <div class="img_overlay-icon">
                    <a href="img/home/gallery/g2.jpg"  class="icon link quick_view" data-fancybox="quick-view2" data-qw-form="qw-form-2"><i class="fa fa-search"></i></a>
                    <a href="project-style-2.html" class="icon link"><i class="fa fa-link"></i></a>
                    <span class="hidden">
                        <a class="quick_view" data-fancybox="quick-view2" href="img/home/gallery/g2.jpg">#2</a>
                      </span>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div id="qw-form-2" class="hidden">
            <div class="bg-image" style="background-image: url('img/projetcs/bg-projects.jpg');">
              <div class="project_specification">
                <h2 class="text-primary">Project Details 2</h2>
                <div class="row">
                  <div class="col-4 ">Clients:</div>
                  <div class="col-8 ">Jake Hemswire</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Category:</div>
                  <div class="col-8 ">Investment,Consulting</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Date:</div>
                  <div class="col-8 ">20 June, 2017</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Status:</div>
                  <div class="col-8 ">In Progress</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Website: </div>
                  <div class="col-8  text-primary">www.info@example.com</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card_img">
            <a href="project-style-3.html">
              <img class="img-full" data-original="img/home/gallery/g3.jpg" />
              <div class="hover-overlay effect-scale">
                <div class="img_overlay-container">
                  <h4 class="img_overlay-title">Sales Organization</h4>
                  <p class="img_overlay-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod </p>
                  <div class="img_overlay-icon">
                    <a href="img/home/gallery/g3.jpg"  class="icon link quick_view" data-fancybox="quick-view3" data-qw-form="qw-form-3"><i class="fa fa-search"></i></a>
                    <a href="project-style-3.html" class="icon link"><i class="fa fa-link"></i></a>
                    <span class="hidden">
                        <a class="quick_view" data-fancybox="quick-view3" href="img/home/gallery/g3.jpg">#2</a>
                      </span>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div id="qw-form-3" class="hidden">
            <div class="bg-image" style="background-image: url('img/projetcs/bg-projects.jpg');">
              <div class="project_specification">
                <h2 class="text-primary">Project Details</h2>
                <div class="row">
                  <div class="col-4 ">Clients:</div>
                  <div class="col-8 ">Jake Hemswire</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Category:</div>
                  <div class="col-8 ">Investment,Consulting</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Date:</div>
                  <div class="col-8 ">20 June, 2017</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Status:</div>
                  <div class="col-8 ">In Progress</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Website: </div>
                  <div class="col-8  text-primary">www.info@example.com</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card_img">
            <a href="project-style-1.html">
              <img class="img-full" data-original="img/home/gallery/g4.jpg" />
              <div class="hover-overlay effect-scale">
                <div class="img_overlay-container">
                  <h4 class="img_overlay-title">Sales Organization</h4>
                  <p class="img_overlay-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod </p>
                  <div class="img_overlay-icon">
                    <a href="img/home/gallery/g4.jpg"  class="icon link quick_view" data-fancybox="quick-view4" data-qw-form="qw-form-4"><i class="fa fa-search"></i></a>
                    <a href="project-style-1.html" class="icon link"><i class="fa fa-link"></i></a>
                    <span class="hidden">
                        <a class="quick_view" data-fancybox="quick-view4" href="img/home/gallery/g4.jpg">#2</a>
                      </span>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div id="qw-form-4" class="hidden">
            <div class="bg-image" style="background-image: url('img/projetcs/bg-projects.jpg');">
              <div class="project_specification">
                <h2 class="text-primary">Project Details</h2>
                <div class="row">
                  <div class="col-4 ">Clients:</div>
                  <div class="col-8 ">Jake Hemswire</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Category:</div>
                  <div class="col-8 ">Investment,Consulting</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Date:</div>
                  <div class="col-8 ">20 June, 2017</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Status:</div>
                  <div class="col-8 ">In Progress</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Website: </div>
                  <div class="col-8  text-primary">www.info@example.com</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card_img">
            <a href="project-style-2.html">
              <img class="img-full" data-original="img/home/gallery/g5.jpg" />
              <div class="hover-overlay effect-scale">
                <div class="img_overlay-container">
                  <h4 class="img_overlay-title">Sales Organization</h4>
                  <p class="img_overlay-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod </p>
                  <div class="img_overlay-icon">
                    <a href="img/blog/p4.jpg"  class="icon link quick_view" data-fancybox="quick-view5" data-qw-form="qw-form-5"><i class="fa fa-search"></i></a>
                    <a href="project-style-2.html" class="icon link"><i class="fa fa-link"></i></a>
                    <span class="hidden">
                        <a class="quick_view" data-fancybox="quick-view5" href="img/blog/p4.jpg">#2</a>
                      </span>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div id="qw-form-5" class="hidden">
            <div class="bg-image" style="background-image: url('img/projetcs/bg-projects.jpg');">
              <div class="project_specification">
                <h2 class="text-primary">Project Details</h2>
                <div class="row">
                  <div class="col-4 ">Clients:</div>
                  <div class="col-8 ">Jake Hemswire</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Category:</div>
                  <div class="col-8 ">Investment,Consulting</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Date:</div>
                  <div class="col-8 ">20 June, 2017</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Status:</div>
                  <div class="col-8 ">In Progress</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Website: </div>
                  <div class="col-8  text-primary">www.info@example.com</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card_img">
            <a href="project-style-3.html">
              <img class="img-full" data-original="img/home/gallery/g6.jpg" />
              <div class="hover-overlay effect-scale">
                <div class="img_overlay-container">
                  <h4 class="img_overlay-title">Sales Organization</h4>
                  <p class="img_overlay-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod </p>
                  <div class="img_overlay-icon">
                    <a href="img/home/gallery/g6.jpg"  class="icon link quick_view" data-fancybox="quick-view6" data-qw-form="qw-form-6"><i class="fa fa-search"></i></a>
                    <a href="project-style-3.html" class="icon link"><i class="fa fa-link"></i></a>
                    <span class="hidden">
                        <a class="quick_view" data-fancybox="quick-view6" href="img/home/gallery/g6.jpg">#2</a>
                      </span>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div id="qw-form-6" class="hidden">
            <div class="bg-image" style="background-image: url('img/projetcs/bg-projects.jpg');">
              <div class="project_specification">
                <h2 class="text-primary">Project Details</h2>
                <div class="row">
                  <div class="col-4 ">Clients:</div>
                  <div class="col-8 ">Jake Hemswire</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Category:</div>
                  <div class="col-8 ">Investment,Consulting</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Date:</div>
                  <div class="col-8 ">20 June, 2017</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Status:</div>
                  <div class="col-8 ">In Progress</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Website: </div>
                  <div class="col-8  text-primary">www.info@example.com</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
