<section class="services-area services-area2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="sectionTitle text-center">
          <h2>Nossos Serviços</h2>
          <p>Veja aqui a lista de serviços que nós oferecemos</p>
        </div>
      </div>
    </div>
    <div class="row">
      <% 9.times do %>
        <div class="col-md-6 col-lg-4">
          <div class="card mt-5">
            <div class="card-img">
              <a href="#"><img src="img/home/gallery/g1.jpg" alt="" class="img-fluid"></a>
            </div>
            <div class="card-block">
              <a href="#"><h4 class="card-title">Pedreiro</h4></a>
              <p class="mb-3">Precisando de reforma? Nós temos a solução!</p>
              <a href="#" class="btn btn-primary btn-sm">Contratar</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
