<section class="testimonial-area home-testimonial">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-6 promo-video-holder">
        <div class="promo-video">
          <img class="img-fluid" src="img/home/v-poster.jpg" alt="">
          <a class="video-link" data-fancybox href="https://www.youtube.com/watch?v=sEl5hp8MEGs"><i class="fa fa-play play-icon" aria-hidden="true"></i></a>
        </div>
      </div>
      <!-- Right column -->
      <div class="col-md-6">
        <div class="bg-image" style="background-image: url('img/home/t-poster.jpg'); ">
          <div id="home-testimonial" class="">
            <div class="card ">
              <div class="card_img">
                <img class="img-full" src="img/home/cl1.jpg" alt="Card image">
              </div>
              <div class="card-block">
                <p>Lorem ipsum dolor sit amet constur adipisicing elit, sed do eiusmtempor incid et dolore magna aliqu enim minim veniam quis nostrud exercittion</p>
                <h4 class="text-white">Julia Robertson</h4>
                <span class="text-primary">Happy Client</span>
              </div>
            </div>
            <div class="card ">
              <div class="card_img">
                <img class="img-full" src="img/home/cl2.jpg" alt="Card image">
              </div>
              <div class="card-block">
                <p>Lorem ipsum dolor sit amet constur adipisicing elit, sed do eiusmtempor incid et dolore magna aliqu enim minim veniam quis nostrud exercittion</p>
                <h4 class="text-white">Julia Robertson</h4>
                <span class="text-primary">Happy Client</span>
              </div>
            </div>
            <div class="card ">
              <div class="card_img">
                <img class="img-full" src="img/home/cl3.jpg" alt="Card image">
              </div>
              <div class="card-block">
                <p>Lorem ipsum dolor sit amet constur adipisicing elit, sed do eiusmtempor incid et dolore magna aliqu enim minim veniam quis nostrud exercittion</p>
                <h4 class="text-white">Julia Robertson</h4>
                <span class="text-primary">Happy Client</span>
              </div>
            </div>
          </div>
        </div>
      </div><!-- Right column -->

    </div>
  </div>
</section>
