<div class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="topbar-content">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <a href="tel:+251-235-3256">+251-235-3256</a>
        </div>
        <div class="topbar-content">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <a href="mailto:info@example.com ">info@example.com</a>
        </div>
        <div class="topbar-content">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <p>New York, USA</p>
        </div>
      </div>
      <div class="col-sm-3 text-right">
        <a href="index.html#" class="btn btn-primary btn-default bold" data-morphing id="morphing" data-src="#morphing-content" href="javascript:;">Get a Quote</a>
      </div>
    </div>
  </div>
</div>
