<section class="bredcrumb">
  <div class="bg-image text-center" style="background-image: url('/img/bg-bredcrumb.jpg');">
    <h1>Contato</h1>
  </div>
</section>

<section class="contactus">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <form id="contact-form" action="<%= url('/contato') %>" method="POST">
          <div class="sectionTitle">
            <h2>Mande-nos uma mensagem</h2>
            <p>Tem uma dúvida ou sugestão? Está interessado em contratar um serviço?</p>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <input type="text" name="name" class="form-control" placeholder="Nome" required="true">
            </div>
            <div class="form-group col-md-6">
              <input type="email" name="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
              <input type="text" name="phone" class="form-control" placeholder="Telefone">
            </div>
            <div class="form-group col-md-6">
              <input type="text" name="subject" class="form-control" placeholder="Assunto">
            </div>
            <div class="form-group col-md-12">
              <textarea name="message" class="form-control" rows="5" placeholder="Mensagem" required="true"></textarea>
            </div>
          </div>
          <button type="submit" class="btn btn-default btn-primary bold">
            Enviar
            <i class="fa fa-spin fa-spinner" style="display: none;"></i>
          </button>
          <div data-form-result></div>
        </form>
      </div>

      <div class="col-lg-4">
        <div class="contact_sidebar">
          <div class="media-box bg-sand">
            <div class="media-icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="media-content">
              <h4>Telefone</h4>
              <p>
                <%= @isaveu_phone %>
              </p>
            </div>
          </div>
          <div class="media-box bg-sand">
            <div class="media-icon">
              <i class="fa fa-envelope"></i>
            </div>
            <div class="media-content">
              <h4>Email</h4>
              <p>
                <%= @isaveu_email %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for :javascript do %>
  <script type="text/javascript" charset="utf-8">
    function submit_contact_form(form) {
      const formData = form.serialize();

      const submitButton = $(form).find('button[type=submit]');
      const spinner = $(submitButton).find('i.fa-spinner');
      const formResult = $(form).find('[data-form-result]');

      const formEmail = $(form).find('[name=email]');
      const formPhone = $(form).find('[name=phone]');

      if ($(formEmail).val() === '' && $(formPhone).val() === '') {
        $(formResult).html('Preencha pelo menos uma forma de contato: Email ou Telefone');
        return;
      }

      $(submitButton).attr('disabled', 'disabled');
      $(spinner).show();
      $(formResult).html('');

      $.post($(form).attr('action'), formData, function(data) {
        $(submitButton).removeAttr('disabled');
        $(spinner).hide();

        if (data['error']) {
          $(formResult).html(data['error']);
        } else if (data['success']) {
          $(submitButton).hide();
          $(formResult).html(data['success']);
        }
      });
    }

    $(document).ready(function(){
      $('#contact-form').on('submit', function(e) {
        e.preventDefault();

        submit_contact_form($(this));
      })
    });
  </script>
<% end %>
