<section class="services-area services-area2">
  <div class="container">
    <% if @budget.status_new? %>
      <%= erb :'budget/new' %>
    <% elsif @budget.status_accepted? %>
      <%= erb :'budget/accepted' %>
    <% elsif @budget.status_rejected? %>
      <%= erb :'budget/rejected' %>
    <% end %>
  </div>
</section>
