<section class="services-area services-area2">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="trix-content-budget">
          <%= @budget.budget_text %>
        </div>
      </div>
    </div>
  </div>
</section>
